@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
h1{
    font-family: 'Acme', sans-serif;
    color: #0f2862
}
body{
    background-color: whitesmoke;
}

.btn1,.btn2{
    width:150px;
    background-color: teal;
    color:black;
    border:none;
   
}


#city{
    width:500px;
    padding:20px;
    height: 50px;
    text-align: center;
    border: none;
}
.card1{
    background-color: #800000;
}
.section2{
    background-color:white;
}