@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
h1{
    font-family: 'Acme', sans-serif;
     color:#900C3F;
    

    
}


.btn1,.btn2{
    width:150px;
    background-color: teal;
    color:black;
    border:none;
   
}

.section1{
    background-color: #34495E;

 
}
.sections1,.sections2,.sections3,.sections4{
   height: 200px;
 
    padding: 10px;
}
.section2{
    background-color: 	#F08080;
    
}



